<main class="ps-main container">
  <h2 class="section-title"></h2>

  <% if user_signed_in? %>
    <p class="greeting">こんにちは、<%= link_to current_user.name, user_path(current_user) , class: "greeting__link"%>さん</p>
  <% end %>

  <% unless user_signed_in? %>
    <p class="actions">
      <%= link_to 'ログインして投稿',
                  new_user_session_path,
                  class: 'btn' %>
    </p>
  <% end %>

  <ul class="card-grid">
    <%= render partial: 'prototype', collection: @prototypes, as: :prototype %>
  </ul>
</main>
